@{
    ViewBag.Title = "Home Page";
}
<div id="RegistrationForm">
<h3 id="RegisterText">Register with the link above</h3>
</div>
<div id="FrontpageForm">
    <h1 id="AboutTitleText">Another Coffee Shop</h1>
    <p class="lead" ; id="AboutSiteText">we are Another Coffee Shop</p>

</div>


