
@{
    ViewBag.Title = "NewUserRegistered";
}

<div id="RegistrationForm">
    <h3 id="AboutSiteText">Welcome @ViewBag.FirstName</h3>

    <h2 id="AboutTitleText">What were you really expecting registering to a coffee website? Free stuff??</h2>
</div>
