
@{
    ViewBag.Title = "Register";
}

<div align="center" id="RegistrationForm">
    <h2>Register for this sweet coffee shop by filling out the fields below so we can spam you with uesless stuff you will never look at</h2>
    @model CoffeeShopWebApp.Models.UserInput

    <form action="/Home/NewUserRegistered" method="post">

        <div class="form-group">
            <label class="my-label" for="FirstName">First Name</label>
            <input type="text" class="form-control" id="FirstName" name="FirstName" />
        </div>
        <div class="form-group">
            <label class="my-label" for="LastName">Last Name</label>
            <input type="text" class="form-control" id="LastName" name="LastName" />
        </div>
        <div class="form-group">
            <label class="my-label" for="Email">Email</label>
            <input type="text" class="form-control" id="Email" name="Email" />
        </div>
        <div class="form-group">
            <label class="my-label" for="TelephoneNumber">TelephoneNumber</label>
            <input type ="text" class ="form-control" id="TelephoneNumber" name="TelephoneNumber"/>
        </div>
        <div class="form-group">
            <label class="my-label" for="Password">Password</label>
            <input type="text" class="form-control" id="Password" name="Password" />
        </div>
            @*Phone Number: <input type="text" class="form-control" name="TelephoneNumber" />*@
            @*Password: <input type="password" class="form-control" name="Password" />*@
        @*Re-Enter Password <input type="password" class="form-control" name="PasswordTwo" />*@


            <input type="submit" value="Register User" class="form-control" />
            @Html.ValidationSummary("", new { @class = "text-danger" })
</form>
</div>

